<div style="padding:50px;">
  <div class='grid'>
    <% 6.times do %>
      <div class='grid--block'>
        <div class='grid--block-content'>
          <h2 style="text-align: center;">
            Hello
          </h2>

          <p>Content goes here</p>
        </div>
      </div>
    <% end %>
  </div>
</div>
