.grid {
  display: grid;
  margin-top: -40px;
  grid-template-columns: 100%;

  @media #{$from-large} {
    grid-gap: 3%;
    grid-template-columns: 30% 30% 30%;
  }
}

.grid--block {
  width: 100%;
  border: 1px solid $color-border;
  background-color: $color-white;
  margin: 40px auto 0;
  min-height: 280px;
  color: $color-blue;
}

.grid--block-content {
  padding: 20px;
}
